
.cards{
    width: 400px;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 8px;
    border: 2px solid black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carg__to_favorite{
    width: 40px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.active{
    fill:red;
}


.card__name{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.card__img{
    width: 300px;
    height: 200px;
}

.card__text{
    font-size: 20px;
    font-weight: 500;
}

.card__price{
    font-size: 24px;
    font-weight: 600;
}

